html {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
}

body {
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-color: #75937b;
	background-image: url('../images/Ciputra.png');
	overflow: hidden;
	cursor: default;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
}